*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body{
  
    background-color: #6fa3c4a9;
    color:#050505
  }
  
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #4465a7, #7c92b4);
    
  }
  
  .Logo{
    font-weight: bold;
    font-size: 24px;
    color:white;
    text-shadow: 5px 4px 10px rgba(0,0,0,0.5);
  }
  
  .Titulo{
    position: absolute;
    top: 20px;
    left:70px;
    font-size: 10px;
    width: 250px;
    color:white;
  
  
  }
  
  nav a , .Menu a{
    color:white;
  }
  
  nav a, .Login a{
    color:white;
  }
  
  .Contenido1{
    position: relative;
    width: 100%;
    height: 450px;
    
    
  }
  .Imagen1{
    position: absolute;
    top:60px;
    left:33%;
    width: 380px;
    height: 350px;
    z-index: 5;
  }
  .Imagen2{
    position: absolute;
    top:140px;
    left:18%;
    width: 340px;
    height: 230px;
    z-index: 10;
  }
  .Figura1{
    position: absolute;
    top:30px;
    left:32%;
    width: 700px;
    height: 420px;
    z-index: 2;
  }
  .Figura2{
    position: absolute;
    top:30px;
    left:15%;
    width: 600px;
    height: 420px;
    z-index: 1;
  }
  .Subtitulo1{
    position: absolute;
    top:120px;
    left:55%;
    width:500px;
    height: 300px;
    z-index: 15;
    font-size: 36px;
    color: rgb(252, 249, 249);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  
  }
  
  .Parrafo1{
    position: absolute;
    top:240px;
    left:60%;
    width:500px;
    height: 300px;
    z-index: 15;
    font-size: 16px;
    color: rgb(2, 2, 2);
    font-family: 'Times New Roman', Times, serif;
    
  }
  .Contenido2{
    position: relative;
    width: 100%;
    height: 1150px;
  
  }
  .Cuadrado1{
    position: relative;
    width: 52%;
    height: 450px;
    background-color: rgba(104, 146, 104, 0.988);
    z-index: 5;
  
  }
  .Imagen3{
    position: absolute;
    width: 380px;
    height: 250px;
    top: 130px;
    left: 30%;
    z-index: 10;
  }
  .Imagen4{
    position: absolute;
    width: 500px;
    height: 300px;
    top: 55px;
    left: 0%;
    z-index: 15;
  }
  .Subtitulo2{
    position: absolute;
    top:40px;
    left:47%;
    width:700px;
    height: 300px;
    z-index: 15;
    font-size: 64px;
    color: rgb(252, 249, 249);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
  }
  .Parrafo2{
    position: absolute;
    top:160px;
    left:60%;
    width:500px;
    height: 300px;
    z-index: 15;
    font-size: 18px;
    color: rgb(2, 2, 2);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
  }
  .Cuadrado2{
    position: absolute;
    width: 52%;
    height: 300px;
    top:420px;
    left:70px;
    z-index: 10;
    background-color: rgba(72, 96, 181, 0.964);
  
  }
  .Parrafo3{
    position: absolute;
    top:470px;
    left:12%;
    width:550px;
    height: 300px;
    z-index: 15;
    font-size: 30px;
    color: rgb(250, 246, 246);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
  }
  .Imagen5{
    position: absolute;
    width: 500px;
    height: 260px;
    top: 400px;
    left: 60%;
    z-index: 15;
  }
  .Cuadrado3{
    position: absolute;
    width: 55%;
    height: 300px;
    top:680px;
    left:110px;
    z-index: 15;
    background-color: rgba(189, 102, 102, 0.964);
  }
  .Subtitulo3{
    position: absolute;
    top:700px;
    left:2%;
    width:550px;
    height: 300px;
    z-index: 15;
    font-size: 64px;
    color: rgb(252, 249, 249);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    z-index: 20;
  }
  .Parrafo4{
    position: absolute;
    top:780px;
    left:12%;
    width:640px;
    height: 300px;
    z-index: 15;
    font-size: 24px;
    color: rgb(4, 4, 4);
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
  }
  .Imagen6{
    position: absolute;
    width: 608px;
    height: 320px;
    top:780px;
    left: 60%;
    z-index: 15;
  }
  .Contenido3{
    background-color: rgb(203, 202, 202);
  }
  .Imagen7{
    width: 100%;
    height: 540px;
    top:780px;
    z-index: 15;
  }
  .Contenido4{
    position: relative;
    width: 100%;
    height: 400px;
  }
  .Cuadrado4{
    position: absolute;
    width: 910px;
    height: 300px;
    top:40px;
    left:40%;
    z-index: 15;
    background-color: rgba(117, 148, 113, 0.964);
  }
  .Subtitulo4{
    position: absolute;
    top:80px;
    left:35%;
    width:1000px;
    height: 300px;
    z-index: 15;
    font-size: 60px;
    color: rgb(252, 249, 249);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    z-index: 20;
  }
  .Beneficios{
    position: absolute;
    top: 170px;
    left: 45%;
    z-index: 15;
    font-size: 24px;
  }
  .Boton{
    position: relative;
    height: 150px;
    text-align: center;
    font-size: 48px;
  }