*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
background: repeating-linear-gradient(
    to bottom,
    #6fa3c4a9,       
    #6fa3c4a9 860px,
    #d9d9d9 860px,   
    #d9d9d9 1720px
);
color: #050505;
min-height: 3000Ñpx;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: linear-gradient(to right, #4465a7, #7c92b4);
    
}
.Logo{
    font-weight: bold;
    font-size: 24px;
    color:white;
    text-shadow: 5px 4px 10px rgba(0,0,0,0.5);
}

.Titulo{
    position: absolute;
    top: 20px;
    left:70px;
    font-size: 10px;
    width: 250px;
    color:white;
}
nav a , .Menu a{
    color:white;
}
nav a, .Login a{
    color:white;
}

/* --------------------------------------------------------------------------------------------------------------------------------------------------- */
.contenedor{
    padding: 30px 0;
    width: 90%;
    max-width: 1440px;
    margin: auto;
    overflow: visible;   
}

.Subtitulo2, .Subtitulo3, .Subtitulo4,.Subtitulo5{
    color: #dbd142;
    font-size: 75px;
    text-align: center;
    margin-bottom: 10px;

}
.Subtitulo1{
display: flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items:baseline;
    font-size: 45px;
    text-align: center;
    color: #dbd142;
    
}

p{
    font-size: 20px;
    justify-content: center;
    margin-bottom: 10px;
    color: #922323;
}

.Contenedor1{
    display: flex;
    justify-content:space-evenly;
}
.Contenedor1Texto{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    width: 50%;
    padding: 10px;
    
}
.Contenedor1Texto p{
    transform: translateY(50px);
}
.Contenedor1Texto p{
    line-height: 1.5;
    text-align: justify;
    
}
.Gransubtitulo{
    position: absolute; 
    top: 300px;
    left:550px;
    display: flex;
    height: 80px;
    justify-content: center;
    align-items:baseline;
    font-size: 85px;
    text-align: center;
    color: #dbd142;
    z-index: 2;
    text-shadow: 5px 4px 10px rgba(0,0,0,0.5);
}

.imagennero{
    width: 48%;
}
.Contenido2{
    display: flex;
    justify-content:space-evenly;
}
.Parrafo1{
    width: 50%;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
    transform: translateX(700px);
    line-height: 1.5;
    text-align: justify;
}
.Subtitulo2 , .Parrafo2{
    width: 65%;
    justify-content: center;
    align-items: center; 
    text-align: justify;
    padding: 20px;
}
.Parrafo2{
    width: 50%;
    line-height: 1.5;
    text-align: center;
    padding: 20px;
    transform: translateX(15%);
}
.Azucar{
    position: absolute;
    top: 1250px;
    left: 1100px;
    width: 550px;
    height: 600px;
    z-index: 2;
}
.Manosjuntas{
    position: absolute;
    top: 1600px;
    left: 400px;
    width: 500px;
    height: 270px;
    border-radius: 34px;
    z-index: 2;
}
.Contenido3{
    display: flex;
    justify-content:space-evenly;
}
.Subtitulo3{
    transform: translateY(310%);
    font-size: 60px !important;
}

.Contenedordecontenedores{
    display: flex;
    justify-content:space-evenly;
    transform: translateY(80%);
    text-align: center;
}
.columnaizquierda{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    padding: 10px;
}
.columnaderecha{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    padding: 10px;
}
.Contenedordecontenedores p strong{
    font-size: 20px;
    color: #0a0101;
    
}
.Sintomascomunes,.VS1,.VS2,.VS3 {
    transform: translateY(40%);
}

.Subtitulo4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    padding: 10px;
}
.Imagenessintomas{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    height: 10%;
    
    
}
.Sintomascomunes p{
    display: flex;   
    width: 50%;
    list-style: none;
    text-align: justify;
    font-size: 20px;
    color: #0a0101;
}
li{
    display: flex;   
    width: 50%;
    list-style: none;
    text-align: justify;
    font-size: 20px;
    color: #0a0101;
}



