<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="with-device-with, initial-scale-1.0">
    <title> Modelo Predictivo de Diabetes</title>
    <link rel="stylesheet" href="estilo pagina informacion.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <div class="Logo">4Z</div>
            <div class="Titulo">Modelo Predictivo Web para Estimar la Probabilidad de Desarrollo de Diabetes Tipo 2</div>
            <nav class="Menu">
                <a href="Proyecto Pagina Web/Pagina Inicio.html">Inicio</a>
                <a href="Pagina Informacion.html">Informacion</a>
                <a href="Proyecto Pagina Web/Pagina Evaluacion.html">Evaluacion</a>
            </nav>
            <div class="Login">
                <a id="login-link" href="Login_usuario/index.html">Login/Registro</a>
            </div>
        </header>
        <main>
            <section class="contenedor Contenidoprincipal">
                <h1 class="Subtitulo1">INFORMACIÓN SOBRE DIABETES</h1>
                <div class="Contenedor1">
                    <img class="imagennero" src="ImagenesInfo/imagen1.jpg" alt="imagen nero">
                    <div class="Contenedor1Texto">
                        <h2 class="Gransubtitulo">¿Qué es la diabetes?</h2>
                        <p>La diabetes es una enfermedad crónica que afecta la forma en que el cuerpo procesa la glucosa en sangre. Ocurre cuando el páncreas no produce suficiente insulina o cuando el cuerpo no puede utilizar eficazmente la insulina que produce.</p>
                        <p>Según la Federación Internacional de Diabetes, más de 537 millones de adultos viven con esta condición en todo el mundo, y se proyecta que esta cifra aumente a 783 millones para 2045 si no se toman medidas preventivas.</p> 
                    </div>
            </div>
            </section>
            <section class="contenedor Contenido2">
                <div class="Desarrollar">
                    <p class="Parrafo1">La diabetes tipo 2 representa el 90-95% de todos los casos de diabetes. A diferencia de la diabetes tipo 1, que aparece repentinamente, la tipo 2 se desarrolla gradualmente, a menudo durante años, y muchas personas pueden tenerla sin saberlo.</p>
                    <h2 class="Subtitulo2">Cómo se desarrolla</h2>
                    <p class="Parrafo2">En la diabetes tipo 2, el cuerpo desarrolla resistencia a la insulina, lo que significa que las células no responden correctamente a esta hormona. Como resultado, el páncreas produce más insulina para intentar compensar, pero eventualmente no puede mantener el ritmo y los niveles de glucosa en sangre aumentan.</p>
                    <div class="Imagenesdesarrollo">
                        <img class="Manosjuntas" src="ImagenesInfo/imagen3.jpg" alt="Manos juntas">
                        <img class="Azucar" src="ImagenesInfo/imagen2.png" alt="azucar"> 
                    </div>
                </div>
            </section>
            <section class="contenedor Contenido3">
                <div class="FactoresdeRiesgo"> 
                    <h2 class="Subtitulo3">Factores de riesgo Principales</h2>
                    <div class="Contenedordecontenedores">
                        <div class="columnaizquierda">
                        <p><strong>Sobrepeso y obesidad</strong><br>Especialmente la grasa abdominal</p>
                        <p><strong>Sedentarismo</strong><br>La falta de actividad física reduce la capacidad del cuerpo para usar la insulina</p>
                        <p><strong>Genética</strong><br>Si tienes familiares con diabetes tipo I, tu riesgo aumenta</p>
                        </div>

                        <div class="imagen-central">
                        <img src="ImagenesInfo/imagen4.jpg" alt="Factores de riesgo">
                        </div>

                        <div class="columnaderecha">
                        <p><strong>Diabetes Gestacional</strong><br>Haber tenido diabetes durante el embarazo</p>
                        <p><strong>Prediabetes</strong><br>Niveles de glucosa elevados pero no lo suficiente para diagnóstico de diabetes</p>
                        <p><strong>Edad</strong><br>El riesgo aumenta después de los 45 años</p>
                        </div>
                    </div>
                </div>
            </section>
            <!-- <section class="contenedor Contenido4">
                <div class="Sintomascomunes" >
                    
                    <div class="Imagenessintomas">
                        <h2 class="Subtitulo4" >Síntomas comunes</h2>
                        <img class="Brocoli" src="ImagenesInfo/imagen7.jpg" alt="brocoli">
                        <img class="Chica52" src="ImagenesInfo/imagen5.jpg" alt="chica52">
                        <img class="Cintaamarilla" src="ImagenesInfo/imagen6.jpg" alt="cintaamarilla">
                    </div>
                    <p>Los síntomas de la diabetes tipo 2 pueden ser sutiles y desarrollarse gradualmente. Algunos de los síntomas más comunes incluyen:</p>
                    <ul>
                        <li>Aumento de la sed y la necesidad de orinar con frecuencia</li>
                        <li>Aumento del hambre</li>
                        <li>Pérdida de peso inexplicada</li>
                        <li>Fatiga</li>
                        <li>Visión borrosa</li>
                        <li>Infecciones frecuentes</li>
                    </ul>
                </div>
            </section>
            <section class="contenedor Contenido5">
                <div class="VS1">
                    <h2 class="Subtitulo5">Diabetes Tipo 1 vs. Tipo 2</h2>
                    <h2 class="Minititulo1">ORIGEN</h2>
                    <div class="Contenidodentro1">
                        <p>Es una enfermedad autoinmune en la que el sistema inmune ataca las células del páncreas que producen insulina.</p>
                        <h2 class="Minititulo2">Diabetes Tipo 1</h2>
                        <p>Se desarrolla cuando el cuerpo se vuelve resistente a la insulina o no la produce en cantidad suficiente.</p>
                        <h2 class="Minititulo3">Diabetes Tipo 2</h2>
                    </div>
                    <div class="Imagenesvs1">
                        <img src="ImagenesInfo/imagen8.jpg" alt="56">
                        <img src="ImagenesInfo/imagen9.jpg" alt="862">
                    </div>
                </div>
                <div class="VS2">
                    <h2 class="Subtitulo6">¿A quién afecta?</h2>
                    <div class="Contenidodentro2">
                        <h2 class="Minititulo4">Diabetes Tipo 1</h2>
                        <p>Es una enfermedad autoinmune en la que el sistema inmune ataca las células del páncreas que producen insulina.</p>
                        <h2 class="Minititulo5">Diabetes Tipo 2</h2>
                        <p>Se desarrolla cuando el cuerpo se vuelve resistente a la insulina o no la produce en cantidad suficiente.</p>
                    </div>
                    <img src="ImagenesInfo/imagen10.jpg" alt="dedorojo">
                </div>
                <div class="VS3">
                    <h2 class="Minititulo6">Tratamiento</h2>
                    <h2 class="Minititulo7">Síntomas</h2>
                    <div class="Contenidodentro3">
                        <p>Requiere insulina desde el diagnóstico, de forma permanente.</p>
                        <h2 class="Minititulo8">Diabetes Tipo 1</h2>
                        <p>Comienza con dieta, ejercicio y pastillas; insulina solo si es necesaria.</p>
                        <h2 class="Minititulo9">Diabetes Tipo 2</h2>
                        <p>Aparece de forma rápida, con síntomas intensos como sed excesiva y pérdida de peso.</p>
                        <h2 class="Minititulo10">Diabetes Tipo 1</h2>
                        <p>Avanza lentamente, a veces sin síntomas durante años.</p>
                        <h2 class="Minititulo11">Diabetes Tipo 2</h2>
                    </div>
                </div>
            </section> -->
        </main>
        <script>
            document.addEventListener("DOMContentLoaded", function() {
                const loginLink = document.getElementById("login-link");

                // Si el usuario está logueado, cambiamos el enlace
                if (localStorage.getItem("logueado") === "true") {
                    loginLink.href = "ProfileInformation.html";
                    loginLink.innerHTML = "Usuario"; // Ícono de usuario
                }
            });
        </script>

    </body>
</html>