<div class="footer-container">
    <div class="footer-logo">4Z</div>
    <div class="footer-subtitulo">Equipo #01</div>
  <div class="footer-left">
    <div class="footer-integrantes">
      <p >Ramos  Anthony</p>
      <p >Santiesteban  Sebastian</p>
      <p >Aguilar Richard</p>
      <p >Siquita  Eduar</p>
      <p >Leon  Gianfranco</p>
    </div>
    <div>© 2025. 4z derechos reservados.</div>
  </div>
  <div class="footer-right">
    <div class="footer-icons">
      <img class="icono1"src="imagenes/icon1 sf.png">
      <img class="icono2"src="imagenes/icon2 sf.png">
      <img class="icono3"src="imagenes/icon3 sf.png">
    </div>
    <div>Support: eduar.sk8.23@gmail.com</div>
    <div>Contacto: 955151725</div>
  </div>
</div>