<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Modelo Predictivo Diabetes</title>
  <link rel="stylesheet" href="estilo pagina evaluacion.css">
  <link rel="stylesheet" href="Estilo Pagina Inicio.css">
  <link rel="stylesheet" href="estilo footer.css">
</head>
<body>
   <div id ="header-principal"></div>
  <script src="Header.js"></script>

  <main>
    <form id="formulario">
      <div class="campo">
        <label>Glucosa</label>
        <input type="number" placeholder="Nivel de glucosa en ayunas">
        <p>Ingrese su nivel de glucosa en sangre en ayunas (en mg/dL).</p>
      </div>

      <div class="campo">
        <label>Presión Arterial</label>
        <input type="number" placeholder="Presión arterial">
        <p>Ingrese su presión arterial (en mmHg).</p>
      </div>

      <div class="campo">
        <label>Nivel de insulina</label>
        <input type="number" placeholder="Insulina sérica">
        <p>Ingrese su nivel de insulina sérica en ayunas (en μU/mL).</p>
      </div>

      <div class="campo">
        <label>Edad</label>
        <input type="number" placeholder="Edad">
        <p>Ingrese su edad en años.</p>
      </div>

      <div class="campo">
        <label>Espesor de pliegue cutáneo</label>
        <input type="number" placeholder="Espesor en mm">
        <p>Ingrese el espesor del pliegue en el tríceps (en mm).</p>
      </div>

      <div class="campo">
        <label>Función de pedigrí de diabetes</label>
        <input type="number" placeholder="Pedigrí">
        <p>Estima su riesgo genético de desarrollar diabetes basado en antecedentes familiares.</p>
      </div>

      <div class="campo">
        <label>Número de Embarazos</label>
        <input type="number" placeholder="Número de embarazos">
        <p>Ingrese el número de embarazos que ha tenido (0 si es hombre o no ha tenido).</p>
      </div>

      <div class="campo">
        <label>Índice de Masa Corporal</label>
        <input type="number" placeholder="IMC">
        <p>Ingrese su Índice de Masa Corporal (BMI). Fórmula: Peso (kg) / Altura² (m).</p>
      </div>

      <button type="button" onclick="predecir()">➜ Predecir</button>
      <div id="resultado" style="margin-top: 20px; font-weight: bold;"></div>

    </form>
  </main>
  <script src="Boton Predecir.js"></script>


  <footer>
    <div id = "footerprincipal"></div>
    <script src="Footer.js"></script>
  </footer>


</body>
</html>